{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
    <h1>Edit Farmer</h1>

    <p>Edit farmer here:</p>

    <form action="/farmer/$farmer.getId()/edit" method="post" class="jumbotron">
        <div class="form-group">
            <label for="name">Farmer Name</label>
            <input id="name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="badge">Contact</label>
            <input id="badge" name="badge" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success">Edit Farmer</button>
    </form>
{{/partial}}
{{> layout.hbs}}